/* Add a background color to the header element */
header{
    background-color: #807e7e;
}
/* Add a fun background color to the main element */
main{
    background-color: #fff;
}
/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
}
/* Make your p tag a different color and italic */
p{
    color: black;
    font-style: italic;
}
/* Put a border around your image */
img{
    border: 5 px solid red;
}
/* Change the font-family of your list */
li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* Add a background color to the footer element */
footer{
    background-color: red;
}